[submodule "suites/test262"]
	path = suites/test262
	url = https://github.com/tc39/test262.git
[submodule "suites/wpt"]
	path = suites/wpt
	url = https://github.com/web-platform-tests/wpt
[submodule "suites/cpython"]
	path = suites/cpython
	url = https://github.com/python/cpython.git
	branch = 3.12
[submodule "suites/openjdk"]
	path = suites/openjdk
	url = https://github.com/openjdk/jdk
	shallow = true
